
<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      // Get data from the Home.js controller and turn to working JSON
      const microsoftData = <%- JSON.stringify(MSFT) %>;
      const googleData = <%- JSON.stringify(GOOGL) %>;
      const cofData = <%- JSON.stringify(COF) %>;
      const biggestLoserData = <%- JSON.stringify(biggestLoser) %>;
      // Load google charts library and draw charts
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawAverageOpenChart);
      google.charts.setOnLoadCallback(drawAverageCloseChart);

      // Draws average open chart using google charts library. Plots MSFT, GOOGL, and COF average open data against each other
      function drawAverageOpenChart() {
        let openData = [['Month', 'Microsoft', 'Google', 'Capital One']];
        let numberOfMonths = microsoftData.averageData.length;
        // Pushing line data to the openData array that will be rendered by Google Charts
        for (let i = 0; i < numberOfMonths; i++) {
          openData.push([microsoftData.averageData[i].month, microsoftData.averageData[i].average_open, googleData.averageData[i].average_open, cofData.averageData[i].average_open]);
        }
        // Google Charts function to convert array to a data table for their processing
        let data = google.visualization.arrayToDataTable(
          openData
        );
        // Setting chart properties
        const options = {
          title: 'Average Open Data',
          curveType: 'function',
          legend: { position: 'bottom' },
          pointSize: 10
        };
        // Creating a line chart in the appropriate div
        let chart = new google.visualization.LineChart(document.getElementById('average_open_chart'));
        // Drawing the chart onto the page
        chart.draw(data, options);
     }

     // Draws average close chart using google charts library. Plots MSFT, GOOGL, and COF average close data against each other
     function drawAverageCloseChart() {
       let closeData = [['Month', 'Microsoft', 'Google', 'Capital One']];
       let numberOfMonths = microsoftData.averageData.length;
       // Pushing line data to the closeData array that will be rendered by Google Charts
       for (let i = 0; i < numberOfMonths; i++) {
         closeData.push([microsoftData.averageData[i].month, microsoftData.averageData[i].average_close, googleData.averageData[i].average_close, cofData.averageData[i].average_close]);
       }
       // Google Charts function to convert array to a data table for their processing
       let data = google.visualization.arrayToDataTable(
         closeData
       );
       // Setting chart properties
       const options = {
         title: 'Average Close Data',
         curveType: 'function',
         legend: { position: 'bottom' },
         pointSize: 10
       };
       // Creating a line chart in the appropriate div
       let chart = new google.visualization.LineChart(document.getElementById('average_close_chart'));
       // Drawing the chart onto the page
       chart.draw(data, options);
     }
       // Events to control button clicks at the bottom of the page
     window.onload = function() {
       // Get the modal
       let modal = document.getElementById('myModal');

       // Get the buttons that open the modal
       let btn1 = document.getElementById("dailyBtn");
       let btn2 = document.getElementById("busyDayBtn");
       let btn3 = document.getElementById("biggestLoserBtn");

       // When a user clicks on max profit, open the modal and display max profit data
       btn1.onclick = function() {
         modal.style.display = "block";
         document.getElementById("myModalContent").innerHTML = '';
         document.getElementById("myModalContent").innerHTML =
           '<p><b>Ticker</b>: MSFT, <b>Date</b>: ' + microsoftData.maxProfit.date + ', <b>Max Profit:</b> ' + microsoftData.maxProfit.profit + '</p>' +
           '<p><b>Ticker</b>: GOOGL, <b>Date</b>: ' + googleData.maxProfit.date + ', <b>Max Profit:</b> ' + googleData.maxProfit.profit + '</p>' +
           '<p><b>Ticker</b>: COF, <b>Date</b>: ' + cofData.maxProfit.date + ', <b>Max Profit:</b> ' + cofData.maxProfit.profit + '</p>';
       }

       // When a user clicks on busy day button, open the modal and display busy day data
       btn2.onclick = function() {
         modal.style.display = "block";
         document.getElementById("myModalContent").innerHTML = '';
         let modalContent = document.getElementById("myModalContent");
         modalContent.innerHTML =
           '<p><b>MSFT:</b> ' + JSON.stringify(microsoftData.busyDay) + '</p>' +
           '<p><b>GOOGL:</b>' + JSON.stringify(googleData.busyDay) + '</p>' +
           '<p><b>COF: </b>' + JSON.stringify(cofData.busyDay) +'</p>';
       }

       // When a user clicks on the biggest loser button, open the modal and display biggest loser data
       btn3.onclick = function() {
         modal.style.display = "block";
         document.getElementById("myModalContent").innerHTML = '';
         document.getElementById("myModalContent").innerHTML =
           '<p><b>Ticker:</b> ' +  biggestLoserData.ticker + ', <b>Number of Days:</b> ' + biggestLoserData.numDays + '</p>';
       }

       // When the user clicks anywhere outside of the modal, close it
       window.onclick = function(event) {
         if (event.target == modal) {
           modal.style.display = "none";
         }
       }
     }
    </script>
    <meta charset="utf-8">
    <title>Capital One - Coding Project</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
        <div id="average_open_chart"></div>
        <div id="average_close_chart"></div>
    </div>
    <div id="tickerGroup" class="btn-group">
      <button id="dailyBtn" class="btn-style">Max Daily Profit</button>
      <button id="busyDayBtn" class="btn-style">Busy Day</button>
      <button id="biggestLoserBtn" class="btn-style">Biggest Loser</button>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content" id ="myModalContent">
      </div>
    </div>
  </body>
</html>
